# This is Git's per-user configuration file.
[user]
	name = ZacharyRizer
	email = zacharyrizer@gmail.com
    token = 7fd28a6136fa45e2661a0ff5e1fbcf0aa95552ee
[core]
	editor = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	co = checkout
	br = branch
	s = status
[init]
	defaultBranch = main
